<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Uzupełnij poniższy formularz</h1>
</div>

<form role="form" action="/save" method="post">
    <b>Płeć</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="plec" value="M">Mężczyzna
        </label>
        <label class="radio-inline">
          <input type="radio" name="plec" value="F">Kobieta
        </label>
    </div>

    <div class="form-group">
      <label for="wiek">Przedział wieku</label>
      <select class="form-control" id="wiek" name="wiek">
        <option><21</option>
        <option>21-25</option>
        <option>26-30</option>
        <option>31-35</option>
        <option>36-40</option>
        <option>41-50</option>
        <option>51-55</option>
        <option>56</option>
      </select>
    </div>

    <div class="form-group">
      <label for="wiek">Średnie zarobki brutto z ostatnich trzech miesięcy</label>
      <select class="form-control" id="zarobki" name="zarobki">
        <option>ponizej1500zl</option>
        <option>1500zl-2000zl</option>
        <option>2000zl-2500zl</option>
        <option>2500zl-3000zl</option>
        <option>3000zl-3500zl</option>
        <option>3500zl-4000zl</option>
        <option>4000zl-4500zl</option>
        <option>4500zl-5000zl</option>
        <option>ponad5000zl</option>
      </select>
    </div>



    <div class="form-group">
      <label for="wiek">Ile spodziewasz się zarabiać w okresie najbliższych 5 lat? (Oceń realnie swoje szanse)</label>
      <select class="form-control" id="oczekiwania" name="oczekiwania">
        <option>ponizej1500zl</option>
        <option>1500zl-2000zl</option>
        <option>2000zl-2500zl</option>
        <option>2500zl-3000zl</option>
        <option>3000zl-3500zl</option>
        <option>3500zl-4000zl</option>
        <option>4000zl-4500zl</option>
        <option>4500zl-5000zl</option>
        <option>ponad5000zl</option>
      </select>
    </div>


    <div class="form-group">
      <label for="wiek">Jak długo pracujesz na obecnym stanowisku</label>
      <select class="form-control" id="staz" name="staz">
        <option>1rok</option>
        <option>1-2lata</option>
        <option>2-4lata</option>
        <option>4-6lat</option>
        <option>6-8lat</option>
        <option>powyzej8lat</option>
      </select>
    </div>

    <div class="form-group">
      <label for="wiek">Kiedy miała miejsce Twoja ostatnia podwyżka?</label>
      <select class="form-control" id="ostpodw" name="ostpodw">
        <option>mniejniz1miesiactemu</option>
        <option>1-3miesiace</option>
        <option>3-6miesiacy</option>
        <option>6-9miesiacy</option>
        <option>9-12miesiacy</option>
        <option>12-15miesiacy</option>
        <option>15-18miesiacy</option>
        <option>18-21miesiacy</option>
        <option>21-24miesiace</option>
        <option>2-3lata</option>
        <option>3-4lata</option>
        <option>4-5lat</option>
        <option>ponad5lattemu</option>
      </select>
    </div>

    <b>Czy jesteś zadowolony/na ze swojej sytuacji zawodowej? (gdzie 1 oznacza niezadowolenie, 6 jestem zadowolony/na)</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="zadwolonie" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="zadwolonie" value="2">2
        </label>
      <label class="radio-inline">
          <input type="radio" name="zadwolonie" value="3">3
        </label>
      <label class="radio-inline">
          <input type="radio" name="zadwolonie" value="4">4
        </label>
      <label class="radio-inline">
          <input type="radio" name="zadwolonie" value="5">5
        </label>
        <label class="radio-inline">
          <input type="radio" name="zadwolonie" value="6">6
        </label>
    </div>

    <div class="form-group">
      <label for="wiek">Ile razy zmieniałeś/łaś pracę?</label>
      <select class="form-control" id="zmianapracy" name="zmianapracy">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>ponad5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="wiek">Ile godzin w tygodniu pracujesz?</label>
      <select class="form-control" id="htyg" name="htyg">
        <option><20</option>
        <option>20-25</option>
        <option>25-30</option>
        <option>30-35</option>
        <option>35-40</option>
        <option>40-45</option>
        <option>powyzej45</option>
      </select>
    </div>

    <button type="submit" class="btn btn-default">Zakończ i wyślij</button>
</form>

{% endblock %}

