<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Uzupełnij poniższy formularz</h1>
</div>

<form role="form" action="/save" method="post">
    <b>Płeć</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="plec" value="M">Mężczyzna
        </label>
        <label class="radio-inline">
          <input type="radio" name="plec" value="F">Kobieta
        </label>
    </div>

    <div class="form-group">
      <label for="wiek">Przedział wieku</label>
      <select class="form-control" id="wiek" name="wiek">
        <option><21</option>
        <option>21-25</option>
        <option>26-30</option>
        <option>31-35</option>
        <option>36-40</option>
        <option>41-50</option>
        <option>51-55</option>
        <option>>=56</option>
        </select>
    </div>

    <div class="form-group">
      <label for="wiek">Średnie zarobki brutto z ostatnich trzech miesięcy</label>
      <select class="form-control" id="wiekonset" name="wiekonset">
        <option>poniżej 1500zł</option>
        <option>1500zł-2000zł</option>
        <option>2000zł-2500zł</option>
        <option>2500zł-3000zł</option>
        <option>3000zł-3500zł</option>
        <option>3500zł-4000zł</option>
        <option>4000zł-4500zł</option>
        <option>4500zł-5000zł</option>
        <option>ponad 5000zł</option>
      </select>
    </div>



    <div class="form-group">
      <label for="wiek">Ile spodziewasz się zarabiać w okresie najbliższych 5 lat? (Oceń realnie swoje szanse)</label>
      <select class="form-control" id="wiekdiagnosis" name="wiekdiagnosis">
        <option>poniżej 1500zł</option>
        <option>1500zł-2000zł</option>
        <option>2000zł-2500zł</option>
        <option>2500zł-3000zł</option>
        <option>3000zł-3500zł</option>
        <option>3500zł-4000zł</option>
        <option>4000zł-4500zł</option>
        <option>4500zł-5000zł</option>
        <option>ponad 5000zł</option>
      </select>
    </div>


    <div class="form-group">
      <label for="wiek">Jak długo pracujesz na obecnym stanowisku</label>
      <select class="form-control" id="czastrwania" name="czastrwania">
        <option>mniej niż 1 rok</option>
        <option>1-2 lata</option>
        <option>2-4 lata</option>
        <option>4-6 lat</option>
        <option>6-8 lat</option>
        <option>powyżej 8 lat</option>
      </select>
    </div>

    <div class="form-group">
      <label for="wiek">Kiedy miała miejsce Twoja ostatnia podwyżka?</label>
      <select class="form-control" id="edss" name="edss">
        <option>mniej niż 1 miesiąc temu</option>
        <option>1-3 miesiące</option>
        <option>3-6 miesięcy</option>
        <option>6-9 miesięcy</option>
        <option>9-12 miesięcy</option>
        <option>12-15 miesięcy</option>
        <option>15-18 miesięcy</option>
        <option>18-21 miesięcy</option>
        <option>21-24 miesiące</option>
        <option>2-3 lata</option>
        <option>3-4 lata</option>
        <option>4-5 lat</option>
        <option>ponad 5 lat temu</option>
      </select>
    </div>

    <b>Czy jesteś zadowolony/na ze swojej sytuacji zawodowej? (gdzie 1 oznacza niezadowolenie, 6 jestem zadowolony/na)</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="lastMS" value="RR">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="lastMS" value="SP">2
        </label>
      <label class="radio-inline">
          <input type="radio" name="lastMS" value="PP">3
        </label>
      <label class="radio-inline">
          <input type="radio" name="lastMS" value="PR">4
        </label>
      <label class="radio-inline">
          <input type="radio" name="lastMS" value="CIS">5
        </label>
        <label class="radio-inline">
          <input type="radio" name="lastMS" value="NA">6
        </label>
    </div>

    <div class="form-group">
      <label for="wiek">Ile razy zmieniałeś/łaś pracę?</label>
      <select class="form-control" id="nawrot12" name="nawrot12">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>ponad 5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="wiek">Ile godzin w tygodniu pracujesz?</label>
      <select class="form-control" id="nawrot24" name="nawrot24">
        <option><20</option>
        <option>20-25</option>
        <option>25-30</option>
        <option>30-35</option>
        <option>35-40</option>
        <option>40-45</option>
        <option>powyżej 45</option>
      </select>
    </div>

    <button type="submit" class="btn btn-default">Zakończ i wyślij</button>
</form>

{% endblock %}

